.ihc-splitter-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.ihc-splitter-vertical {
    flex-direction: column;
}

.ihc-splitter-bordered {
    border: 1px solid #eee;
}

.ihc-splitter-resizing {
    user-select: none;
}

.ihc-splitbar {
    position: relative;
    background-color: #eee;
}

.ihc-splitbar-vertical {
    height: 1px;
    width: 100%;
    cursor: row-resize;
}

.ihc-splitbar-horizontal {
    width: 1px;
    height: 100%;
    cursor: col-resize;
}

.ihc-splitter-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}